In [2]:
import pandas as pd

In [3]:
total_data = pd.read_csv('../combine/FinalJoinedData.csv', index_col=0)

In [4]:
cols_unnamed = []
for col in total_data.columns:
    if 'Unnamed' in col:
        cols_unnamed.append(col)
        
total_data = total_data.drop(columns=cols_unnamed)

In [5]:
total_data.head()

,Seed,Team,Conference,AdjEM,AdjO,AdjD,AdjT,Luck,Opp AdjEM,OppO,...,pts_per_g_16,stl_per_g_15,stl_per_g_16,tov_per_g_15,tov_per_g_16,trb_per_g_15,trb_per_g_16,weight_15,weight_16,year
0,1,Duke,ACC,34.19,121.0,86.8,74.5,-0.027,9.87,109.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002
1,1,Cincinnati,CUSA,30.19,118.1,87.9,67.4,0.002,6.58,106.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002
2,1,Maryland,ACC,29.25,119.2,89.9,73.7,0.025,9.88,109.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002
3,1,Kansas,B12,28.99,118.7,89.7,77.3,0.022,10.66,110.3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002
4,2,Oklahoma,B12,26.04,114.9,88.9,66.5,0.043,8.77,109.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002

In [6]:
results = pd.read_csv('../gamesdata/Results.csv', index_col=0)

In [7]:
results.head()

   year    winner  team_one     team_two
0  2002  Maryland  Maryland        Siena
1  2002  Maryland  Maryland    Wisconsin
2  2002  Maryland  Maryland     Kentucky
3  2002  Maryland  Maryland  Connecticut
4  2002  Maryland  Maryland       Kansas

In [8]:
prediction_data = []

In [9]:
for idx, row in results.iterrows():
    # find the team in our total_data
    curr_year = total_data[total_data['year'] == row['year']]
    curr_team_one = dict(curr_year[curr_year['Team'] == row['team_one']].iloc[0,:])
    curr_team_two = dict(curr_year[curr_year['Team'] == row['team_two']].iloc[0,:])
    
    result = 1 if row['winner'] == row['team_one'] else 0
    curr_row = dict()
    for k, v in curr_team_one.items():
        curr_row[k + '_team_one'] = v
    for k, v in curr_team_two.items():
        curr_row[k + '_team_two'] = v
    curr_row['result'] = result
    
        
    prediction_data.append(curr_row)

In [10]:
df = pd.DataFrame(prediction_data)

In [11]:
df.head()

,Seed_team_one,Team_team_one,Conference_team_one,AdjEM_team_one,AdjO_team_one,AdjD_team_one,AdjT_team_one,Luck_team_one,Opp AdjEM_team_one,OppO_team_one,...,stl_per_g_15_team_two,stl_per_g_16_team_two,tov_per_g_15_team_two,tov_per_g_16_team_two,trb_per_g_15_team_two,trb_per_g_16_team_two,weight_15_team_two,weight_16_team_two,year_team_two,result
0,1,Maryland,ACC,29.25,119.2,89.9,73.7,0.025,9.88,109.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002,1
1,1,Maryland,ACC,29.25,119.2,89.9,73.7,0.025,9.88,109.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002,1
2,1,Maryland,ACC,29.25,119.2,89.9,73.7,0.025,9.88,109.1,...,0.0,0.0,0.3,0.0,0.3,0.0,180.0,0.0,2002,1
3,1,Maryland,ACC,29.25,119.2,89.9,73.7,0.025,9.88,109.1,...,0.0,0.0,0.0,0.0,0.3,0.0,175.0,150.0,2002,1
4,1,Maryland,ACC,29.25,119.2,89.9,73.7,0.025,9.88,109.1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002,1

In [12]:
df.to_csv('PredictionData.csv', index=False)